.feedback {
    &__items {
        display: flex;
        align-items: center;
        margin-top: 70px;
        padding: 0 0 71px 0
    }
    &__img {
        margin: 0;
        img {
            margin-right: 62px;
        }
    }
    &__title {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__subtitle {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 16px;
        font-weight: 300;
        margin-top: 19px;
    }
}